<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.spendright">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spendright"
        android:usesCleartextTraffic="true">

        <activity android:name=".airetime.ConfirmPaymentAireTimeForiegnAct"
            android:exported="false"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name=".airetime.ForeignAirtimeActivity"
            android:exported="false" />
        <activity
            android:name=".airetime.PaymentBillInterNational"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".act.PaymentReportDateWiseAct"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TvCabelBill.PaymentInformationTvChangeAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Broadband.ConfirmPaymentBroadBandAct"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".airetime.ConfirmPaymentAireTimeAct"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Broadband.PaymentBillBroadBandAct"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".airetime.PaymentBillAireTime"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TvCabelBill.ConfirmPaymentTvChangeAct"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TvCabelBill.PaymentInformationTvChangeInformationAct"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TvCabelBill.ConfirmPaymentTvAct"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TvCabelBill.PaymentInformationTvAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TvCabelBill.PayMentCabilBillAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.ConfirmPaymentAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ElectircalBill.PaymentBill"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.VtpassActivityLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.SetBudget.SetBudgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.ForogtPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".act.EditExpensen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.ExpensesBudget"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.MyBudgets"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.EstimateExpenseBudget"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.SchdulePaymentMethod"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.EditCateories"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.FIlterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.TermsCondition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.PaymentReport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.SchdulePayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.PaymentComplete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.ConfirmPayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.ReminderScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.AddTrasactionScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.PaymentInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.RegistrationFinal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.RegistrationTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.RegistrationOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.LoginSuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.LoginOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.SelectAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.WelcomeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>